<%= error_messages_for(f.object) %>

<table class="table" summary="Speaker form fields">
  <tr class="field">
    <th><%= f.label :name %></th>
    <td><%= f.text_field :name %></td>
  </tr>
    <tr class="actions btn"><td><%= f.submit %></td></tr>  
</table>
