<h1>Edit Message</h1>

 <%= form_for:message, url: api_messages_path do |f| %>

    <%= render(:partial => 'form', :locals => {:f => f}) %>
    <% end %>

<div class="btn">
<%= link_to 'Back', api_messages_path %>
</div>