<footer class="footer">
  <small>
    The <a href="https://github.com/jkmor31/messages_app">Messages Project</a>
    by <a href="https://jkmor31.github.io/">James Morical</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="https://www.watermark.org/dallas">News</a></li>
    </ul>
  </nav>
</footer>